{{template "partials/header" .}}
<h1>Login</h1>
<br>
<div>
	<form method="POST" action="/login">		
		<div class="mb-3">
			<label for="username" class="form-label">Username</label>
			<input type="text" class="form-control" value ="{{.RegisForm.Username}}" name="username" id="username" placeholder="username">
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input type="password" class="form-control" value ="{{.RegisForm.Password}}" name="password" id="password" placeholder="password">
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
		<a href="/register" class="btn btn-primary">Register Now</a>
	</form>
</div>



{{template "partials/footer" .}}